@import 'importable';

.title {
  padding-top: $pad-4;
  margin-bottom: 0;
}

.logo {
  max-width: 75px;
  padding: 6px 0;
  float: left;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.uk-search-navbar .uk-search-input {
  font-size: 1.2em;
}

.offset3 {
  position: relative;
  top: 3px;
}

.uk-navbar-dropdown-nav {
  font-family: $font-family-body;
}