<div id="headerWrapper">
<header>
  <div class="container">
    <div class="row">
      <!-- Logo -->
      <div class="col-xs-12 col-md-logo">
        <a href="/"><img class="logo" src="http://placehold.it/350x90"></a>
      </div>
      <!-- Menu -->
      <div class="col-xs-12 col-md-menu">
        <ul>
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="/">Thumbnails</a></li>
          <li><a routerLink="/">Leaderboard</a></li>
          <li><a routerLink="/">Request List</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>
<nav>
  <div class="container">
    <div class="row">
      <!-- Search -->
      <div class="hidden-sm-down col-md-search">
        <form id="search">
          <input #search class="form-control" placeholder="Search for templates..." />
        </form>
      </div>
      <!-- Profile -->
      <div class="hidden-sm-down col-md-profile">
        <div id="navProfileToggle" class="profile-block" *ngIf="auth.isAuthenticated">
          <div class="profile-icon-wrapper" *ngIf="auth.avatar">
            <img class="avatar" [src]="auth.avatar">
          </div>
          <span class="username">{{ auth.username }}</span>
        </div>
        <div class="login-signup-wrapper" *ngIf="!auth.isAuthenticated">
          <a routerLink="/login">Login</a>
          <a routerLink="/signup">Signup</a>
        </div>
      </div>
    </div>
  </div>
</nav>
</div>
