<div *ngIf="thumbnails.length > 0">
  <div class="uk-margin">
    <div class="row-title">
      <h3 class="page-title">
        {{ activeCategory }} Thumbnails
      </h3>
    </div>
  </div>
  <div class="uk-margin">

    <span>
      Category:
    </span>
    <div uk-form-custom="target: > * > span:last">
      <select
        #category
        (change)="updateCategory($event)">
        <option
          *ngFor="let category of categories"
          [value]="category.intCategoryID"
          [selected]="category.strCategory.toLowerCase() == activeCategory.toLowerCase()">
          {{ category.strCategory }}
        </option>
      </select>
      <span class="uk-link">
        <span uk-icon="icon: pencil"></span>
        <span></span>
      </span>
    </div>

    <span class="uk-margin-left">
      Show:
    </span>
    <div uk-form-custom="target: > * > span:last">
      <select
        #show
        (change)="updateLimit($event)">
        <option
          *ngFor="let l of limits"
          [value]="l"
          [selected]="l == limit">
          {{ l }}
        </option>
      </select>
      <span class="uk-link">
        <span uk-icon="icon: pencil"></span>
        <span></span>
      </span>
    </div>
  </div>
  <div
    uk-grid
    class="uk-grid-small uk-child-width-1-4@s uk-grid-collapse uk-margin">
    <partial-thumbnail
      *ngFor="let thumb of thumbnails"
      [thumb]="thumb">
    </partial-thumbnail>
  </div>

  <ul class="uk-pagination uk-flex-center" uk-margin>
    <li><a href="#"><span uk-pagination-previous></span></a></li>
    <li *ngFor="let page of pagination">
      <a [routerLink]="['/thumbnails', activeCategory.toLowerCase(), page]">{{ page }}</a>
    </li>
    <li><a href="#"><span uk-pagination-next></span></a></li>
  </ul>
</div>