<div class="row">
  <div class="col-xs-12 col-md-8 offset-md-2">

    <div class="page-title">
      <ng-content select=".heading"></ng-content>
      <p class="instruction">
        <a routerLink="/login" [hidden]="isLogin" *ngIf="!auth.isAuthenticated">Already have an account? Click here to login!</a>
        <a routerLink="/signup" [hidden]="!isLogin" *ngIf="!auth.isAuthenticated">Need an account? Click here to signup!</a>
      </p>
    </div>

    {{ auth.isAuthenticated }}

    <form *ngIf="!auth.isAuthenticated">
      <!-- Required Fields -->
      <div class="form-group" [ngClass]="{'has-danger': validateService.errorUsername?.valid === false && username.dirty}" [hidden]="isLogin">
        <label for="name" class="col-form-label">Username <span class="req">*</span></label>
        <input
          type="text"
          class="form-control"
          #username
          (keyup)="validateService.validateUsername(username.value)"
          placeholder="Enter a username">
        <div class="full-width">
          <div class="form-control-feedback" *ngIf="validateService.errorUsername?.valid === false">
            <small>{{ validateService.errorUsername?.message }}</small>
          </div>
        </div>
      </div>
      <div class="form-group" [ngClass]="{'has-danger': validateService.errorEmail?.valid === false && email.dirty}">
        <label for="name" class="col-form-label">Email <span class="req">*</span></label>
        <input
          type="text"
          class="form-control"
          #email
          (keyup)="validateService.validateEmail(email.value)"
          placeholder="Enter your email">
        <div class="full-width">
          <div class="form-control-feedback" *ngIf="validateService.errorEmail?.valid === false">
            <small>{{ validateService.errorEmail?.message }}</small>
          </div>
        </div>
      </div>
      <div class="form-group" [ngClass]="{'has-danger': validateService.errorPassword?.valid === false && password.dirty}">
        <label for="name" class="col-form-label">Password <span class="req">*</span></label>
        <input
          type="password"
          class="form-control"
          #password
          (keyup)="validateService.validatePassword(password.value)"
          placeholder="Enter your password">
        <div class="full-width">
          <div class="form-control-feedback" *ngIf="validateService.errorPassword?.valid === false">
            <small>{{ validateService.errorPassword?.message }}</small>
          </div>
        </div>
      </div>
      <div class="form-group" [ngClass]="{'has-danger': validateService.errorPasswordConfirm?.valid === false && passwordConfirm.dirty}" [hidden]="isLogin">
        <label for="name" class="col-form-label">Confirm <span class="req">*</span></label>
        <input
          type="password"
          class="form-control"
          #passwordConfirm
          (keyup)="validateService.validatePasswordConfirm(password.value, passwordConfirm.value)"
          placeholder="Confirm your password">
        <div class="full-width">
          <div class="form-control-feedback" *ngIf="validateService.errorPasswordConfirm?.valid === false">
            <small>{{ validateService.errorPasswordConfirm?.message }}</small>
          </div>
        </div>
      </div>

      <!-- Optional Fields -->
      <div class="optional-fields" [hidden]="isLogin">
        <div class="form-group" [ngClass]="{'has-danger': validateService.errorYouTube?.valid === false && youtube.dirty}">
          <label for="name" class="col-form-label">YouTube</label>
          <div class="input-group mb-2 mb-sm-0">
            <div class="input-group-addon">youtube.com/</div>
            <input
              type="text"
              class="form-control"
              #youtube
              (keyup)="validateService.validateYouTube(youtube.value)"
              placeholder="YouTube channel">
          </div>
          <div class="full-width">
            <div class="form-control-feedback" *ngIf="validateService.errorYouTube?.valid === false">
              <small>{{ validateService.errorYouTube?.message }}</small>
            </div>
          </div>
        </div>
        <div class="form-group" [ngClass]="{'has-danger': validateService.errorTwitter?.valid === false && twitter.dirty}">
          <label for="name" class="col-form-label">Twitter</label>
          <div class="input-group mb-2 mb-sm-0">
            <div class="input-group-addon">twitter.com/</div>
            <input
              type="text"
              class="form-control"
              #twitter
              (keyup)="validateService.validateTwitter(twitter.value)"
              placeholder="Twitter handle">
          </div>
          <div class="full-width">
            <div class="form-control-feedback" *ngIf="validateService.errorTwitter?.valid === false">
              <small>{{ validateService.errorTwitter?.message }}</small>
            </div>
          </div>
        </div>
        <div class="form-group" [ngClass]="{'has-danger': validateService.errorFacebook?.valid === false && facebook.dirty}">
          <label for="name" class="col-form-label">Facebook</label>
          <div class="input-group mb-2 mb-sm-0">
            <div class="input-group-addon">facebook.com/</div>
            <input
              type="text"
              class="form-control"
              #facebook
              (keyup)="validateService.validateFacebook(facebook.value)"
              placeholder="Facebook name">
          </div>
          <div class="full-width">
            <div class="form-control-feedback" *ngIf="validateService.errorFacebook?.valid === false">
              <small>{{ validateService.errorFacebook?.message }}</small>
            </div>
          </div>
        </div>
        <div class="form-group" [ngClass]="{'has-danger': validateService.errorBio?.valid === false && bio.dirty}">
          <label for="name" class="col-form-label">
            Bio
            <small class="remaining" [ngClass]="{'has-warning': 500 - bio.value.length < 50, 'has-danger': 500 - bio.value.length < 0}">
              {{ 500 - bio.value.length }} <br/> Remaining <br/> characters
            </small>
          </label>
          <textarea
            #bio
            name="bio"
            class="form-control"
            rows="4"
            maxlength="500"
            (keyup)="validateService.validateBio(bio.value)"
            placeholder="Who goes there?"></textarea>
          <div class="full-width">
            <div class="form-control-feedback" *ngIf="validateService.errorBio?.valid === false">
              <small>{{ validateService.errorBio?.message }}</small>
            </div>
          </div>
        </div>
      </div>

      <p *ngIf="auth.signupError" [hidden]="isLogin">{{ auth.signupError }}</p>
      
      <p *ngIf="auth.loginError" [hidden]="!isLogin" class="form-control-feedback text-center">{{ auth.loginError }}</p>

      <button
        type="submit"
        class="btn btn-primary"
        [hidden]="!isLogin"
        (click)="auth.login(email.value, password.value)">
          Log In
      </button>

      <button
        type="submit"
        class="btn btn-primary"
        [hidden]="isLogin"
        (click)="auth.signup(username.value, email.value, password.value, passwordConfirm.value, youtube.value, twitter.value, facebook.value, bio.value)">
          Sign Up
      </button>
    </form>

    <p *ngIf="auth.signupSuccess" class="form-control-feedback text-center text-success">{{ auth.signupSuccess }}</p>

    <button *ngIf="auth.isAuthenticated"
      class="btn btn-default"
      (click)="auth.logout()">
        Logout
    </button>

  </div>
</div>
