<div class="row">
  <div class="col-xs-12 col-md-8 offset-md-2">

    <div class="page-title">
      <h3 class="heading">{{pageHeading}}</h3>
      <p class="instruction">{{pageInstructions}}</p>
    </div>

    <form *ngIf="!auth.isAuthenticated">
      <!-- Required Fields -->
      <div class="form-group" *ngIf="!login" [ngClass]="{'has-danger': auth.errorUsername?.valid === false}">
        <label for="name" class="col-form-label">Username <span class="req">*</span></label>
        <input
          type="text"
          class="form-control"
          #username
          (blur)="auth.validateUsername(username.value)"
          placeholder="Enter a username">
        <div class="form-control-feedback" *ngIf="auth.errorUsername?.valid === false">
          <small>{{ auth.errorUsername?.message }}</small>
        </div>
      </div>
      <div class="form-group">
        <label for="name" class="col-form-label">Email <span class="req">*</span></label>
        <input
          type="text"
          class="form-control"
          #email
          placeholder="Enter your email">
      </div>
      <div class="form-group">
        <label for="name" class="col-form-label">Password <span class="req">*</span></label>
        <input
          type="password"
          class="form-control"
          #password
          placeholder="Enter your password">
      </div>
      <div class="form-group" *ngIf="!login">
        <label for="name" class="col-form-label">Confirm <span class="req">*</span></label>
        <input
          type="password"
          class="form-control"
          #passwordConfirm
          placeholder="Confirm your password">
      </div>

      <!-- Optional Fields -->
      <div class="form-group" *ngIf="!login">
        <label for="name" class="col-form-label">YouTube</label>
        <div class="input-group mb-2 mb-sm-0">
          <div class="input-group-addon">youtube.com/</div>
          <input
            type="text"
            class="form-control"
            #youtube
            placeholder="YouTube channel">
        </div>
      </div>
      <div class="form-group" *ngIf="!login">
        <label for="name" class="col-form-label">Twitter</label>
        <div class="input-group mb-2 mb-sm-0">
          <div class="input-group-addon">twitter.com/</div>
          <input
            type="text"
            class="form-control"
            #twitter
            placeholder="Twitter handle">
        </div>
      </div>
      <div class="form-group" *ngIf="!login">
        <label for="name" class="col-form-label">Facebook</label>
        <div class="input-group mb-2 mb-sm-0">
          <div class="input-group-addon">facebook.com/</div>
          <input
            type="text"
            class="form-control"
            #facebook
            placeholder="Facebook name">
        </div>
      </div>
      <div class="form-group" *ngIf="!login">
        <label for="name" class="col-form-label">
          Bio
          <small class="remaining">{{ 500 - bio.value.length }} <br/> Remaining <br/> characters</small>
        </label>
        <textarea
          #bio
          name="bio"
          class="form-control"
          rows="4"
          placeholder="Who goes there?"></textarea>
      </div>

      <button
        type="submit"
        class="btn btn-primary"
        *ngIf="login"
        (click)="auth.login(email.value, password.value)">
          Log In
      </button>
      <button
        type="submit"
        class="btn btn-primary"
        *ngIf="!login"
        (click)="auth.signup(
          username.value,
          email.value,
          password.value,
          passwordConfirm.value,
          youtube.value,
          twitter.value,
          facebook.value
        )">
          Sign Up
      </button>
    </form>

    <button *ngIf="auth.isAuthenticated"
      class="btn btn-default"
      (click)="auth.logout()">
        Logout
    </button>

  </div>
</div>
