<div class="row">
  <div class="col-xs-12 col-md-8 offset-md-2">

    <div class="page-title">
      <h3 class="heading">{{pageHeading}}</h3>
      <p class="instruction">
        <a routerLink="/signup" *ngIf="!auth.isAuthenticated">Don't have an account? Click here to signup!</a>
      </p>
    </div>

    <form *ngIf="!auth.isAuthenticated">
      <div class="form-group" [ngClass]="{'has-danger': auth.errorEmail?.valid === false && email.dirty}">
        <label for="name" class="col-form-label">Email <span class="req">*</span></label>
        <input
          type="text"
          class="form-control"
          #email
          (keyup)="auth.validateEmail(email.value)"
          placeholder="Enter your email">
        <div class="full-width">
          <div class="form-control-feedback" *ngIf="auth.errorEmail?.valid === false">
            <small>{{ auth.errorEmail?.message }}</small>
          </div>
        </div>
      </div>
      <div class="form-group" [ngClass]="{'has-danger': auth.errorPassword?.valid === false && password.dirty}">
        <label for="name" class="col-form-label">Password <span class="req">*</span></label>
        <input
          type="password"
          class="form-control"
          #password
          (keyup)="auth.validatePassword(password.value)"
          placeholder="Enter your password">
        <div class="full-width">
          <div class="form-control-feedback" *ngIf="auth.errorPassword?.valid === false">
            <small>{{ auth.errorPassword?.message }}</small>
          </div>
        </div>
      </div>

      <p *ngIf="auth.loginError" class="form-control-feedback text-center">{{ auth.loginError }}</p>

      <button
        type="submit"
        class="btn btn-primary"
        (click)="auth.login(email.value, password.value)">
          Log In
      </button>
    </form>

    <button *ngIf="auth.isAuthenticated"
      class="btn btn-default"
      (click)="auth.logout()">
        Logout
    </button>

  </div>
</div>
