@import 'importable';

.thumbnail-block {
  width: 33.334%;
  float: left;
  position: relative;

  img {
    width: 100%;
    height: auto;
  }

  .thumbnail-block-hover {
    width: 100%;
    height: 100%;
    color: $white;
    background-color: rgba($black, .6);
    background-image: linear-gradient(to bottom right, rgba($brand-primary, .8), rgba(darken($brand-primary, 10), .6));
    opacity: 0;
    z-index: -1;
    transition: 300ms ease;
    position: absolute;
    top: 0;
    left: 0;
  }

  &:hover .thumbnail-block-hover {
    opacity: 1;
    z-index: 10;
  }
}

.thumbnail-block-details {
  padding: $pad-2;
  position: absolute;
  top: 0;
  left: 0;

  .title {
    margin: 0 0 $pad-1;
  }

  .avatar-wrapper {
    @include absolute-center();
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
    }
  }

  .username {
    display: inline-block;
    vertical-align: middle;
    padding: 0 0 0 $pad-1;
    margin: 0;
  }
}

.post-details {
  padding: $pad-2;
  position: absolute;
  bottom: 0;
  left: 0;

  p {
    padding: 0;
    margin: 0;
    &.counts { font-size: .8em; }
    &.date { font-size: .7em; }
  }
}
