<div class="thumbnail-block" *ngIf="thumb" routerLink="/thumbnails/{{ thumb.strTemplateAlias }}">
  <img class="thumbnail-img" [src]="thumbImage">
  <div class="thumbnail-block-hover">
    <div class="thumbnail-block-details">
      <h3 class="title">{{ thumb.strTemplateTitle }}</h3>
      <div class="avatar-wrapper" *ngIf="avatar">
        <img class="avatar" [src]="avatar">
      </div>
      <p class="username">{{ thumb.user.strUsername }}</p>
    </div>
    <div class="post-details">
      <p class="counts">Views: {{ thumb.intTemplateViewCount | number }}, Likes: {{ thumb.intTemplateLikeCount | number }}</p>
      <p class="date">Posted: {{ thumb.dteTemplateReleaseDate | amCalendar }}</p>
    </div>
  </div>
</div>
