<div class="row">
  <div class="col-xs-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">

    <h3>Login</h3>
    <a routerLink="/signup">
        Need an account? Click here to signup!
    </a>

    <form [formGroup]="login" (submit)="loginUser()">
      <app-email
        [parent]="login">
      </app-email>

      <app-password
        [parent]="login">
      </app-password>

      <div
        class="error invalid"
        *ngIf="authService.loginError">
        <i class="zmdi zmdi-alert-circle"></i>
        {{ authService.loginError }}
      </div>

      <button
        type="submit"
        class="btn btn-primary btn-block submit"
        [disabled]="login.invalid">
        Login
      </button>
    </form>
  </div>
</div>