@mixin clearfix() {
  &:after {
    content: " ";
    display: table;
    clear: both;
  }
}

// ---------------------------------------------
// Text Mixins
// ---------------------------------------------
@mixin vertical-heading($text, $space-top) {
  content: $text;
  text-transform: uppercase;
  transform: rotate(-90deg);
  transform-origin: bottom left;
  position: absolute;
  top: $space-top;
}
