@import 'variables';
@import 'mixins';


// ---------------------------------------------
// Grid Utilities
// ---------------------------------------------
.full-width {
  width: 100%;
  display: block;
  clear: both;
}

.pos-relative {
  position: relative;
  top: 0;
  left: 0;
}

.center-block {
  display: block;
  text-align: center;
  margin: 0 auto;
}

.adblock {
  padding: $pad-3 0;
}

.no-pad {
  padding: 0;
}

.table {
  display: table;

  .table-row {
    display: table-row;

    .table-cell {
      display: table-cell;

      &.v-middle {
        vertical-align: middle;
      }
    }
  }
}

.table-md-up {
  @include media-breakpoint-up (md) {
    display: table;

    .table-row {
      display: table-row;

      .table-cell {
        display: table-cell;

        &.v-middle {
          vertical-align: middle;
        }
      }
    }
  }
}



// ---------------------------------------------
// Text Utilities
// ---------------------------------------------
h1, h2, h3, h4, h5, h6,
.btn, nav {
  font-family: $font-family-sans-serif-2;
  font-weight: normal;
}

.text-reset {
  padding: 0;
  margin: 0;
}

.page-title {
  padding-bottom: $pad-3;
  border-bottom: 1px solid rgba($black, .1);
  margin-bottom: $pad-3;
}

.req {
  color: $red;
}

.row.vert-title {
  position: relative;
  &.featured:before { @include vertical-heading("Featured", 63px); }
  &.liked:before    { @include vertical-heading("Most Liked", 74px); }
  &.new:before      { @include vertical-heading("Newest", 48px); }
}

.form-control-feedback {
  color: $red;
}

input {
  font-family: $font-family-sans-serif;
  transition: border-color 300ms ease;

  &:hover {
    border-color: rgba($brand-primary, .3);
  }

  &:focus {
    border-color: rgba($brand-primary, 1);
  }
}

.btn {
  font-family: $font-family-sans-serif-2;
  padding: 6px 18px;
}