// General variable structure
//
// Variable format should follow the `$component-modifier-state-property` order.
@import './uikit/variables-theme';

// Colors
//
$white:  #fff !default;
$black:  #333 !default;
$red:    #d9534f !default;
$orange: #f0ad4e !default;
$yellow: #ffd500 !default;
$green:  #5cb85c !default;
$blue:   #0275d8 !default;
$teal:   #5bc0de !default;
$pink:   #ff5b77 !default;
$purple: #613d7c !default;

// Create grayscale
//
$gray-dark:                 #292b2c !default;
$gray:                      #464a4c !default;
$gray-light:                #636c72 !default;
$gray-lighter:              #eceeef !default;
$gray-lightest:             #f7f7f9 !default;

// Reassign color vars to semantic color scheme
//
$brand-primary:             #333399 !default;
$brand-secondary:           #ff00cc !default;
$brand-success:             $green !default;
$brand-info:                $teal !default;
$brand-warning:             $orange !default;
$brand-danger:              $red !default;
$brand-inverse:             $gray-dark !default;

$transparent:               rgba(black, 0);
$rgba1:                     rgba($gray-dark, .03);
$rgba2:                     rgba($gray-dark, .1);
$rgba3:                     rgba($gray-dark, .3);

$anim-fast: 100ms ease;
$anim-med: 300ms ease;
$anim-slow: 600ms ease;

$font-family-sans-serif: 'Abel', sans-serif;
$font-family-sans-serif-2: 'Ubuntu', sans-serif;

$font-family-body: 'Abel', sans-serif;
$font-family-heading: 'Ubuntu', sans-serif;

// Spacing Utilities
//
$pad-1: 4px;
$pad-2: 8px;
$pad-3: 15px;
$pad-4: 30px;

$mar-1: 4px;
$mar-2: 8px;
$mar-3: 15px;
$mar-4: 30px;

