<div class="row">
  <div class="col-xs-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">

    <h3>Create An Account</h3>
    <a routerLink="/login">
        Already have an account? Click here to go to login!
    </a>

    <form [formGroup]="signup" (submit)="signupUser()">
      <div>
        <p class="title">
          Account Creation
        </p>

        <app-username
          [parent]="signup">
        </app-username>

        <app-email
          [parent]="signup">
        </app-email>

        <app-password
          [parent]="signup">
        </app-password>

        <app-password-confirm
          [parent]="signup">
        </app-password-confirm>
      </div>

      <div>
        <p class="title">
          User Profile
        </p>

        <app-youtube
          [parent]="signup"
          [optional]="true">
        </app-youtube>

        <app-twitter
          [parent]="signup"
          [optional]="true">
        </app-twitter>

        <app-facebook
          [parent]="signup"
          [optional]="true">
        </app-facebook>

        <app-bio
          [parent]="signup"
          [optional]="true">
        </app-bio>
      </div>

      <div
        class="error invalid"
        *ngIf="authService.loginError">
        <i class="zmdi zmdi-alert-circle"></i>
        {{ authService.loginError }}
      </div>

      <button
        type="submit"
        class="btn btn-primary btn-block submit"
        [disabled]="signup.invalid">
        Join ThumbTemps
      </button>
    </form>
  </div>
</div>