<div class="featured-block" *ngIf="thumb">
  <img class="featured-img" [src]="thumbService.getImagePath() + thumb.image.strImageAlias">
  <div class="featured-block-hover">
    <div class="featured-block-details">
      <h3 class="title">{{ thumb.strTemplateTitle }}</h3>
      <div class="avatar-wrapper" *ngIf="avatar">
        <img class="avatar" [src]="avatar">
      </div>
      <p class="username">{{ thumb.user.strUsername }}</p>
    </div>
    <div class="post-details">
      <p class="counts">Views: {{ thumb.intTemplateViewCount | number }}, Likes: 23</p>
      <p class="date">Posted: {{ thumb.dteTemplateReleaseDate | amCalendar }}</p>
    </div>
  </div>
</div>
