<div class="featured-block">
  <img class="featured-img" src="https://placehold.it/400x250">
  <div class="featured-block-hover">
    <div class="featured-block-details">
      <h3 class="title">This is the template title</h3>
      <div class="avatar-wrapper">
        <img class="avatar" src="http://placehold.it/30x30">
      </div>
      <p class="username">Username</p>
    </div>
    <div class="post-details">
      <p class="counts">Views: 23400, Likes: 23</p>
      <p class="date">Posted: 23 Hours Ago</p>
    </div>
  </div>
</div>
